runner = "qemu-system-riscv64 -machine virt -nographic -bios none -kernel "

[build]
target = "riscv64gc-unknown-none-elf" 
rustc = "path to custom build firv compiler"
linker = "riscv64-unknown-elf-ld"
rustflags = "-Clink-arg=-Tres/rv64-virt/rust-link.ld -Clinker=riscv64-unknown-elf-ld -O -Cpanic=abort -Coverflow-checks=off "
